---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title">
                    <h1 class="collection-header">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
<div>
        <div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center;">
  <div></div>
  <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
    <span>¥Ú…Õ</span>
  </button>
  <div id="QR" style="display: none;">

    
      <div id="wechat" style="display: inline-block">
        <a href="/images/wechatpay.png" class="fancybox fancybox.image" rel="group"><img id="wechat_qr" src="/images/wechatpay.png" alt="ΩØŒƒ±Û ∏––ªƒ˙«ÎŒ“∫»≤Ë£°^_^"></a>
        <p>∏––ªƒ˙«ÎŒ“∫»≤Ë£°^_^</p>
      </div>
  </div>
</div>
</div>
<section class="container content">
    <div class="columns">
        <div class="column three-fourths" >
            <article class="article-content markdown-body">
                {{ content }}
            </article>
            <div class="share">
                {% include sns-share.html %}
            </div>
            <div class="comment">
                {% include comments.html %}
            </div>
        </div>
        <div class="column one-fourth">
            {% include sidebar-search.html %}
            {% include sidebar-categories-nav.html %}
        </div>
    </div>
</section>
<!-- /section.content -->
